<template>
<div>WEEK {{ id }}</div>

</template>
<script setup>
import { ref } from "vue";
const route = useRoute()

if (route.params.group === 'admins' && !route.params.id) {
  console.log(route.params.id);
}
const id = ref(route.params.id);
console.log(id);
</script>