<template>
  <div>
    <div class="mdui-toolbar mdui-color-deep-orange-600">
      <div class="index-logo">
        <img
          src="../assets/images/logo/Logo-Img.png"
          height="30px"
          width="30px"
        />
      </div>
      <NuxtLink to="/zh-cn">
        <label class="mrttl mdui-typo-title">MIUI官方ROM仓库</label>
      </NuxtLink>
    </div>
    <div class="mdui-tab mdui-tab-centered mdui-color-deep-orange-600">
      <NuxtLink to="/zh-cn">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">home</i><label>首页</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/tutorial">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">adb</i><label>刷机教程</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/beta">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">developer_mode</i
          ><label>查看日志</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/devices">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">devices</i><label>机型列表</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/recovery">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">usb</i><label>Recovery</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/tools">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">computer</i
          ><label>刷机工具</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/thanks">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">favorites</i
          ><label>衷心感谢</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/sitelog">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">update</i><label>站点日志</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/friends">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">folder_special</i
          ><label>友情链接</label>
        </div>
      </NuxtLink>
      <NuxtLink to="/zh-cn/about">
        <div class="mdui-ribble">
          <i class="mdui-icon material-icons">perm_identity</i
          ><label>关于本站</label>
        </div>
      </NuxtLink>
    </div>
  </div>
</template>