body {
    font-family: "MISans"
}
a {
    text-decoration: none;
    color: blue;
}

li a {
    font-weight: bolder;
}

.index-logo {
    position:relative; 
    top:7px; 
    left:20px; 
    width:40px; 
}
.mrttl {
    left:160;
}