<template>
<div>Devices {{ codename }}</div>
<div>Devices {{ url }}</div>
<div>Devices {{ list }}</div>
</template>
<script setup>
import { ref } from "vue";
const route = useRoute()

if (route.params.group === 'admins' && !route.params.name) {};
const name = ref(route.params.name);
//console.log(name);
const base = "https://miuiroms.pages.dev/packs/data/devices/";
const codename = name._rawValue;
const fn = ".json";
const url = base + codename + fn;
const res = await useFetch(url);
const list = ref(res.data._rawValue);
</script>