<template>
  <div>
    <div>请选择您的语言 - Please select your prefered language</div><br />
    <div class="mdui-btn mdui-text-capitalize"> <i class='mdui-icon material-icons'>translate</i>: {{ lang || "尚未设置 | Unset"}}</div><br />
    <button @click="lang = null" class="mdui-btn mdui-text-capitalize">清除Cookies | Clear Cookies</button><br />
    <button @click="lang = 'zh-cn'" class="mdui-btn mdui-text-capitalize"><NuxtLink to = "zh-cn/">中文简体(Simplified Chinese)</NuxtLink></button><br />
    <button @click="lang = 'en-us'" class="mdui-btn mdui-text-capitalize"><NuxtLink to = "en-us/">Enlish(英文)</NuxtLink></button><br />
  </div>
</template>

<script setup>
const lang = useCookie('lang')
lang.value = lang.value;
if (lang.value == "Zh-Cn"){
  console.log(true);
}

</script>

<style> a { text-decoration: none;} </style>