<template>
<div>Devices {{ codename }}</div>
<div>Devices {{ url }}</div>
<div>Devices Codename : {{ cn }}</div>
<div>ROMs List : {{ roms }}</div>
</template>

<script setup>

import { ref } from "vue";
const route = useRoute()

if (route.params.group === 'admins' && !route.params.name) {};
const name = ref(route.params.name);
const base = "https://next.miuier.com/data/devices/";
const codename = name._rawValue;
const fn = ".json";
const url = base + codename + fn;
//const url = "https://miuiroms-1251747223.cos.ap-shanghai.myqcloud.com/venus.json";
const res = await useFetch(url);
const list = ref(res.data._rawValue);
const cn = list._rawValue.info.codename;
const roms = list._rawValue.roms.CN_STABLE.V120170RKBCNXM.recovery;

</script>